In [1]:
import pandas as pd

In [2]:
stocks1=pd.read_csv('D:\\42_Trong_DHKL17A2_BT_LAB\\LAB3\\DATA\\stocks1.csv')
stocks2=pd.read_csv('D:\\42_Trong_DHKL17A2_BT_LAB\\LAB3\\DATA\\stocks2.csv')

In [3]:
stocks=pd.concat([stocks1,stocks2], ignore_index=True)
print(stocks)

        date symbol     open       high      low    close    volume
0   01-03-19   AMZN  1655.13  1674.2600  1651.00  1671.73   4974877
1   04-03-19   AMZN  1685.00  1709.4300  1674.36  1696.17   6167358
2   05-03-19   AMZN  1702.95  1707.8000  1689.01  1692.43   3681522
3   06-03-19   AMZN  1695.97        NaN      NaN  1668.95   3996001
4   07-03-19   AMZN  1667.37  1669.7500  1620.51  1625.95   4957017
5   01-03-19   AAPL   174.28   175.1500   172.89   174.97  25886167
6   04-03-19   AAPL   175.69   177.7500   173.97   175.85  27436203
7   05-03-19   AAPL   175.94   176.0000   174.54   175.53  19737419
8   06-03-19   AAPL   174.67   175.4900   173.94   174.52  20810384
9   07-03-19   AAPL   173.87   174.4400   172.02   172.50  24796374
10  01-03-19   GOOG  1124.90  1142.9700  1124.75  1140.99   1450316
11  04-03-19   GOOG  1146.99  1158.2800  1130.69  1147.80   1446047
12  05-03-19   GOOG  1150.06        NaN      NaN  1162.03   1443174
13  06-03-19   GOOG  1162.49  1167.5700  1155.49  1157.86   1099289
14  07-03-19   GOOG  1155.72  1156.7600  1134.91  1143.30   1166559
15  01-03-19     FB   162.60   163.1320   161.69   162.28  11097770
16  04-03-19     FB   163.90   167.5000   163.83   167.37  18894689
17  05-03-19     FB   167.37   171.8800   166.55   171.26  28187890
18  06-03-19     FB   172.90   173.5700   171.27   172.51  21531723
19  07-03-19     FB   171.50   171.7400   167.61   169.13  18306504
20  01-03-19   TSLA   306.94   307.1300   291.90   294.79  22911375
21  04-03-19   TSLA   298.12   299.0000   282.78   285.36  17096818
22  05-03-19   TSLA   282.00   284.0000   270.10   276.54  18764740
23  06-03-19   TSLA   276.48   281.5058   274.39   276.24  10335485
24  07-03-19   TSLA   278.84   284.7000   274.25   276.59   9442483

In [4]:
pivot_table = pd.pivot_table(stocks, values='close', index='date', columns='symbol', aggfunc='mean')
print(pivot_table)

symbol      AAPL     AMZN      FB     GOOG    TSLA
date
01-03-19  174.97  1671.73  162.28  1140.99  294.79
04-03-19  175.85  1696.17  167.37  1147.80  285.36
05-03-19  175.53  1692.43  171.26  1162.03  276.54
06-03-19  174.52  1668.95  172.51  1157.86  276.24
07-03-19  172.50  1625.95  169.13  1143.30  276.59

In [5]:
pivot_table['total_volume'] = stocks.groupby('symbol')['volume'].sum()
print(pivot_table)

symbol      AAPL     AMZN      FB     GOOG    TSLA  total_volume
date
01-03-19  174.97  1671.73  162.28  1140.99  294.79           NaN
04-03-19  175.85  1696.17  167.37  1147.80  285.36           NaN
05-03-19  175.53  1692.43  171.26  1162.03  276.54           NaN
06-03-19  174.52  1668.95  172.51  1157.86  276.24           NaN
07-03-19  172.50  1625.95  169.13  1143.30  276.59           NaN

In [6]:
pivot_table_sorted = pivot_table.sort_values(by='total_volume', ascending=False)

In [7]:
top_5_stocks = pivot_table_sorted.head()
print("Kết quả cho 5 mã chứng khoán có tổng volume giao dịch cao nhất:")
print(top_5_stocks)

Kết quả cho 5 mã chứng khoán có tổng volume giao dịch cao nhất:
symbol      AAPL     AMZN      FB     GOOG    TSLA  total_volume
date
01-03-19  174.97  1671.73  162.28  1140.99  294.79           NaN
04-03-19  175.85  1696.17  167.37  1147.80  285.36           NaN
05-03-19  175.53  1692.43  171.26  1162.03  276.54           NaN
06-03-19  174.52  1668.95  172.51  1157.86  276.24           NaN
07-03-19  172.50  1625.95  169.13  1143.30  276.59           NaN