In [1]:
import pandas as pd

In [2]:
stocks1=pd.read_csv('D:\\BT_LAB\\LAB3\\DATA\\stocks1.csv')
stocks2=pd.read_csv('D:\\BT_LAB\\LAB3\\DATA\\stocks2.csv')

In [3]:
stocks=pd.concat([stocks1,stocks2], ignore_index=True)
print(stocks)

        date symbol     open       high      low    close    volume
0   01-03-19   AMZN  1655.13  1674.2600  1651.00  1671.73   4974877
1   04-03-19   AMZN  1685.00  1709.4300  1674.36  1696.17   6167358
2   05-03-19   AMZN  1702.95  1707.8000  1689.01  1692.43   3681522
3   06-03-19   AMZN  1695.97        NaN      NaN  1668.95   3996001
4   07-03-19   AMZN  1667.37  1669.7500  1620.51  1625.95   4957017
5   01-03-19   AAPL   174.28   175.1500   172.89   174.97  25886167
6   04-03-19   AAPL   175.69   177.7500   173.97   175.85  27436203
7   05-03-19   AAPL   175.94   176.0000   174.54   175.53  19737419
8   06-03-19   AAPL   174.67   175.4900   173.94   174.52  20810384
9   07-03-19   AAPL   173.87   174.4400   172.02   172.50  24796374
10  01-03-19   GOOG  1124.90  1142.9700  1124.75  1140.99   1450316
11  04-03-19   GOOG  1146.99  1158.2800  1130.69  1147.80   1446047
12  05-03-19   GOOG  1150.06        NaN      NaN  1162.03   1443174
13  06-03-19   GOOG  1162.49  1167.5700  1155.49  1157.86   1099289
14  07-03-19   GOOG  1155.72  1156.7600  1134.91  1143.30   1166559
15  01-03-19     FB   162.60   163.1320   161.69   162.28  11097770
16  04-03-19     FB   163.90   167.5000   163.83   167.37  18894689
17  05-03-19     FB   167.37   171.8800   166.55   171.26  28187890
18  06-03-19     FB   172.90   173.5700   171.27   172.51  21531723
19  07-03-19     FB   171.50   171.7400   167.61   169.13  18306504
20  01-03-19   TSLA   306.94   307.1300   291.90   294.79  22911375
21  04-03-19   TSLA   298.12   299.0000   282.78   285.36  17096818
22  05-03-19   TSLA   282.00   284.0000   270.10   276.54  18764740
23  06-03-19   TSLA   276.48   281.5058   274.39   276.24  10335485
24  07-03-19   TSLA   278.84   284.7000   274.25   276.59   9442483

In [6]:
companies=pd.read_csv('D:\\BT_LAB\\LAB3\\DATA\\companies.csv')

In [7]:
print('Hiển thị 5 dòng đầu :')
print(companies.head())

Hiển thị 5 dòng đầu :
   name  employees headquarters_city headquarters_state
0  AMZN     613300           Seattle                 WA
1  GOOG      98771     Mountain View                 CA
2  AAPL     132000         Cupertino                 CA
3    FB      48268        Menlo Park                 CA
4  TSLA      48016         Palo Alto                 CA

In [8]:
ket_hop_stocks_companies=pd.merge(stocks,companies,left_on="symbol",right_on="name",how="inner")
print('Dữ liệu sau khi kết hợp là :')
print(ket_hop_stocks_companies)

Dữ liệu sau khi kết hợp là :
        date symbol     open       high      low    close    volume  name  \
0   01-03-19   AMZN  1655.13  1674.2600  1651.00  1671.73   4974877  AMZN
1   04-03-19   AMZN  1685.00  1709.4300  1674.36  1696.17   6167358  AMZN
2   05-03-19   AMZN  1702.95  1707.8000  1689.01  1692.43   3681522  AMZN
3   06-03-19   AMZN  1695.97        NaN      NaN  1668.95   3996001  AMZN
4   07-03-19   AMZN  1667.37  1669.7500  1620.51  1625.95   4957017  AMZN
5   01-03-19   AAPL   174.28   175.1500   172.89   174.97  25886167  AAPL
6   04-03-19   AAPL   175.69   177.7500   173.97   175.85  27436203  AAPL
7   05-03-19   AAPL   175.94   176.0000   174.54   175.53  19737419  AAPL
8   06-03-19   AAPL   174.67   175.4900   173.94   174.52  20810384  AAPL
9   07-03-19   AAPL   173.87   174.4400   172.02   172.50  24796374  AAPL
10  01-03-19   GOOG  1124.90  1142.9700  1124.75  1140.99   1450316  GOOG
11  04-03-19   GOOG  1146.99  1158.2800  1130.69  1147.80   1446047  GOOG
12  05-03-19   GOOG  1150.06        NaN      NaN  1162.03   1443174  GOOG
13  06-03-19   GOOG  1162.49  1167.5700  1155.49  1157.86   1099289  GOOG
14  07-03-19   GOOG  1155.72  1156.7600  1134.91  1143.30   1166559  GOOG
15  01-03-19     FB   162.60   163.1320   161.69   162.28  11097770    FB
16  04-03-19     FB   163.90   167.5000   163.83   167.37  18894689    FB
17  05-03-19     FB   167.37   171.8800   166.55   171.26  28187890    FB
18  06-03-19     FB   172.90   173.5700   171.27   172.51  21531723    FB
19  07-03-19     FB   171.50   171.7400   167.61   169.13  18306504    FB
20  01-03-19   TSLA   306.94   307.1300   291.90   294.79  22911375  TSLA
21  04-03-19   TSLA   298.12   299.0000   282.78   285.36  17096818  TSLA
22  05-03-19   TSLA   282.00   284.0000   270.10   276.54  18764740  TSLA
23  06-03-19   TSLA   276.48   281.5058   274.39   276.24  10335485  TSLA
24  07-03-19   TSLA   278.84   284.7000   274.25   276.59   9442483  TSLA

    employees headquarters_city headquarters_state
0      613300           Seattle                 WA
1      613300           Seattle                 WA
2      613300           Seattle                 WA
3      613300           Seattle                 WA
4      613300           Seattle                 WA
5      132000         Cupertino                 CA
6      132000         Cupertino                 CA
7      132000         Cupertino                 CA
8      132000         Cupertino                 CA
9      132000         Cupertino                 CA
10      98771     Mountain View                 CA
11      98771     Mountain View                 CA
12      98771     Mountain View                 CA
13      98771     Mountain View                 CA
14      98771     Mountain View                 CA
15      48268        Menlo Park                 CA
16      48268        Menlo Park                 CA
17      48268        Menlo Park                 CA
18      48268        Menlo Park                 CA
19      48268        Menlo Park                 CA
20      48016         Palo Alto                 CA
21      48016         Palo Alto                 CA
22      48016         Palo Alto                 CA
23      48016         Palo Alto                 CA
24      48016         Palo Alto                 CA

In [9]:
gia_dong_cua_tb=ket_hop_stocks_companies.groupby("symbol")["close"].mean().reset_index()
gia_dong_cua_tb.columns = ["Tên công ty", "Giá đóng cửa trung bình"]
print(gia_dong_cua_tb)

  Tên công ty  Giá đóng cửa trung bình
0        AAPL                  174.674
1        AMZN                 1671.046
2          FB                  168.510
3        GOOG                 1150.396
4        TSLA                  281.904

In [10]:
print(gia_dong_cua_tb.head())

  Tên công ty  Giá đóng cửa trung bình
0        AAPL                  174.674
1        AMZN                 1671.046
2          FB                  168.510
3        GOOG                 1150.396
4        TSLA                  281.904