In [1]:
import pandas as pd

In [2]:
stocks1=pd.read_csv('D:\\42_Trong_DHKL17A2_BT_LAB\\LAB3\\DATA\\stocks1.csv')
stocks2=pd.read_csv('D:\\42_Trong_DHKL17A2_BT_LAB\\LAB3\\DATA\\stocks2.csv')

In [3]:
stocks=pd.concat([stocks1,stocks2], ignore_index=True)
print(stocks)

        date symbol     open       high      low    close    volume
0   01-03-19   AMZN  1655.13  1674.2600  1651.00  1671.73   4974877
1   04-03-19   AMZN  1685.00  1709.4300  1674.36  1696.17   6167358
2   05-03-19   AMZN  1702.95  1707.8000  1689.01  1692.43   3681522
3   06-03-19   AMZN  1695.97        NaN      NaN  1668.95   3996001
4   07-03-19   AMZN  1667.37  1669.7500  1620.51  1625.95   4957017
5   01-03-19   AAPL   174.28   175.1500   172.89   174.97  25886167
6   04-03-19   AAPL   175.69   177.7500   173.97   175.85  27436203
7   05-03-19   AAPL   175.94   176.0000   174.54   175.53  19737419
8   06-03-19   AAPL   174.67   175.4900   173.94   174.52  20810384
9   07-03-19   AAPL   173.87   174.4400   172.02   172.50  24796374
10  01-03-19   GOOG  1124.90  1142.9700  1124.75  1140.99   1450316
11  04-03-19   GOOG  1146.99  1158.2800  1130.69  1147.80   1446047
12  05-03-19   GOOG  1150.06        NaN      NaN  1162.03   1443174
13  06-03-19   GOOG  1162.49  1167.5700  1155.49  1157.86   1099289
14  07-03-19   GOOG  1155.72  1156.7600  1134.91  1143.30   1166559
15  01-03-19     FB   162.60   163.1320   161.69   162.28  11097770
16  04-03-19     FB   163.90   167.5000   163.83   167.37  18894689
17  05-03-19     FB   167.37   171.8800   166.55   171.26  28187890
18  06-03-19     FB   172.90   173.5700   171.27   172.51  21531723
19  07-03-19     FB   171.50   171.7400   167.61   169.13  18306504
20  01-03-19   TSLA   306.94   307.1300   291.90   294.79  22911375
21  04-03-19   TSLA   298.12   299.0000   282.78   285.36  17096818
22  05-03-19   TSLA   282.00   284.0000   270.10   276.54  18764740
23  06-03-19   TSLA   276.48   281.5058   274.39   276.24  10335485
24  07-03-19   TSLA   278.84   284.7000   274.25   276.59   9442483

In [4]:
stocks.set_index(["date", "symbol"], inplace=True)
print("DataFrame sau khi tạo MultiIndex:")
print(stocks.head())

DataFrame sau khi tạo MultiIndex:
                    open     high      low    close   volume
date     symbol
01-03-19 AMZN    1655.13  1674.26  1651.00  1671.73  4974877
04-03-19 AMZN    1685.00  1709.43  1674.36  1696.17  6167358
05-03-19 AMZN    1702.95  1707.80  1689.01  1692.43  3681522
06-03-19 AMZN    1695.97      NaN      NaN  1668.95  3996001
07-03-19 AMZN    1667.37  1669.75  1620.51  1625.95  4957017

In [5]:
companies=pd.read_csv('D:\\BT_LAB\\LAB3\\DATA\\companies.csv')

In [6]:
ket_hop_stocks_companies=pd.merge(stocks,companies,left_on="symbol",right_on="name",how="inner")
print('Dữ liệu sau khi kết hợp là :')
print(ket_hop_stocks_companies)

Dữ liệu sau khi kết hợp là :
       open       high      low    close    volume  name  employees  \
0   1655.13  1674.2600  1651.00  1671.73   4974877  AMZN     613300
1   1685.00  1709.4300  1674.36  1696.17   6167358  AMZN     613300
2   1702.95  1707.8000  1689.01  1692.43   3681522  AMZN     613300
3   1695.97        NaN      NaN  1668.95   3996001  AMZN     613300
4   1667.37  1669.7500  1620.51  1625.95   4957017  AMZN     613300
5    174.28   175.1500   172.89   174.97  25886167  AAPL     132000
6    175.69   177.7500   173.97   175.85  27436203  AAPL     132000
7    175.94   176.0000   174.54   175.53  19737419  AAPL     132000
8    174.67   175.4900   173.94   174.52  20810384  AAPL     132000
9    173.87   174.4400   172.02   172.50  24796374  AAPL     132000
10  1124.90  1142.9700  1124.75  1140.99   1450316  GOOG      98771
11  1146.99  1158.2800  1130.69  1147.80   1446047  GOOG      98771
12  1150.06        NaN      NaN  1162.03   1443174  GOOG      98771
13  1162.49  1167.5700  1155.49  1157.86   1099289  GOOG      98771
14  1155.72  1156.7600  1134.91  1143.30   1166559  GOOG      98771
15   162.60   163.1320   161.69   162.28  11097770    FB      48268
16   163.90   167.5000   163.83   167.37  18894689    FB      48268
17   167.37   171.8800   166.55   171.26  28187890    FB      48268
18   172.90   173.5700   171.27   172.51  21531723    FB      48268
19   171.50   171.7400   167.61   169.13  18306504    FB      48268
20   306.94   307.1300   291.90   294.79  22911375  TSLA      48016
21   298.12   299.0000   282.78   285.36  17096818  TSLA      48016
22   282.00   284.0000   270.10   276.54  18764740  TSLA      48016
23   276.48   281.5058   274.39   276.24  10335485  TSLA      48016
24   278.84   284.7000   274.25   276.59   9442483  TSLA      48016

   headquarters_city headquarters_state
0            Seattle                 WA
1            Seattle                 WA
2            Seattle                 WA
3            Seattle                 WA
4            Seattle                 WA
5          Cupertino                 CA
6          Cupertino                 CA
7          Cupertino                 CA
8          Cupertino                 CA
9          Cupertino                 CA
10     Mountain View                 CA
11     Mountain View                 CA
12     Mountain View                 CA
13     Mountain View                 CA
14     Mountain View                 CA
15        Menlo Park                 CA
16        Menlo Park                 CA
17        Menlo Park                 CA
18        Menlo Park                 CA
19        Menlo Park                 CA
20         Palo Alto                 CA
21         Palo Alto                 CA
22         Palo Alto                 CA
23         Palo Alto                 CA
24         Palo Alto                 CA

In [7]:
nhom_stocks = ket_hop_stocks_companies.groupby('name')

gia_tri_tb = nhom_stocks.agg({ 'open': 'mean',
                               'high': 'mean',
                               'low': 'mean',
                               'close': 'mean',
                               'volume': 'mean'
})

print("Giá trung bình và volume trung bình của mỗi công ty:")
print(gia_tri_tb)

Giá trung bình và volume trung bình của mỗi công ty:
          open        high       low     close      volume
name
AAPL   174.890   175.76600   173.472   174.674  23733309.4
AMZN  1681.284  1690.31000  1658.720  1671.046   4755355.0
FB     167.654   169.56440   166.190   168.510  19603715.2
GOOG  1148.032  1156.39500  1136.460  1150.396   1321077.0
TSLA   288.476   291.26716   278.684   281.904  15710180.2

In [11]:
grouped_data = stocks.groupby(['date', 'symbol'])[['open', 'high', 'low', 'close', 'volume']].mean()

In [15]:
grouped_data = grouped_data.sort_index()
print(grouped_data.head())

                    open      high      low    close      volume
date     symbol
01-03-19 AAPL     174.28   175.150   172.89   174.97  25886167.0
         AMZN    1655.13  1674.260  1651.00  1671.73   4974877.0
         FB       162.60   163.132   161.69   162.28  11097770.0
         GOOG    1124.90  1142.970  1124.75  1140.99   1450316.0
         TSLA     306.94   307.130   291.90   294.79  22911375.0